# Secrets and Credentials
.env
credentials.json
token.pickle

# Database
 company.db
*.sqlite3
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/

# Editor/OS
.DS_Store
.vscode/
